::ng-deep.mat-chip {
    * {
        color: black !important;
    }

    color: black !important;
}

.disabled {
    background: grey;
}

.panel-table {
    background-color: transparent!important;
    border: 1px solid rgba(255,255,255,0.5)!important;
    margin-bottom: 25px;
    * {
        color: whitesmoke!important;
    }

    mat-form-field {
        width: 100px!important;
    }
}
