<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{data?.product?.name | titlecase}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
        This grabbed the product object by its id by calling: <br />
        <b>/products/&#123;id&#125;/</b>
    </div>

    <div class="panel-content">
        <h2>Product Object</h2>
        <div *ngFor="let kv of result | keyvalue">
            <pre><b>{{kv.key}}: </b>{{kv.value | json}}</pre>
        </div>
    </div>

    <div class="panel-footer">
        <button mat-flat-button (click)="edit()">Edit</button>
    </div>
</section>
