<section id="home">
    <div *ngIf="!configured else Products">
     <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>

    <ng-template #Products>
        <app-products></app-products>
    </ng-template>
</section>
